---
layout: base.njk
title: Page not found
permalink: error-page/index.html
description: Error 404 page not found
ignore: true
---
<div class="ws-content">
    <div class="ws-content-head text-center">
        {% include "components/icon/icon_notfound.njk" %}
        <h1>Error 404</h1>
        <p>Whopps... page not found <a href="/">back to homepage</a></p>
    </div>
</div>