---
layout: base.njk
title: Homepage
permalink: index.html
---
<div class="ws-content">
    <div class="ws-content-head">
        <h1>Heloo</h1>
        <p>My name is John Doe, welcome to my homepage</p>
    </div>
</div>