---
layout: base.njk
title: You are offline
permalink: error-network/index.html
description: Error network, network not avaliable
ignore: true
---
<div class="ws-content">
    <div class="ws-content-head text-center">
        {% include "components/icon/icon_offline.njk" %}
        <h1>Network problems</h1>
        <p>Whopps... your network is not avaliable</p>
    </div>
</div>