# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore build and dist files
dist/
node_modules/

# Ignore log files
*.log

# Ignore temp files
*.tmp
*.temp

# Ignore env files
.env