---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- if item.data.ignore != true %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | convertDate('YYYY-MM-DD') }}</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  {%- endif %}
{%- endfor -%}
</urlset>