<nav class="ws-menu" id="mainMenu">
    <ul class="ws-menu-nav">
      <li class="ws-menu-list">
        <a class="ws-menu-link" href="/">Homepage</a>
      </li>

      <li class="ws-menu-list">
        <a class="ws-menu-link" href="/about">About</a>
      </li>

      <li class="ws-menu-list">
        <a class="ws-menu-link" href="/notes">Notes</a>
      </li>
    </ul>

    <p class="ws-menu-tagline">This website made with <span class="ws-menu-tagline-strike">love</span> code</p>
</nav>